* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: block;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgba(60, 97, 192, 0.733);
  color: #f4f4f4;
}
.container {
  position: absolute;
  top: 40%;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
h1 {
  font-size: 4rem;
  text-transform: uppercase;
}
#value {
  font-size: 5rem;
}

/* CSS */
.button-6 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.596);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin: 0rem 0.2rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
.logo span {
  color: #ffbf00;
}
.logo {
  font-size: 2rem;
  display: inline;
  position: absolute;
  bottom: 5%;
  left: 50%;
}
@media screen and (max-width: 786px) {
  .logo {
    left: 40%;
  }
}
